extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src='img/nosotros.jpg', alt="imagen sobre nosotros", class='img-fluid')
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt aliquid itaque cum iure cupiditate ad, laudantium minus natus ex accusantium iste aut officiis eum magni vitae voluptates eaque excepturi rerum?Lorem ipsum dolor sit amet consectetur adipisicing elit. 

                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut illum voluptas doloremque maiores fugiat, dolores exercitationem ipsam saepe molestias blanditiis quisquam ea dolore enim adipisci perspiciatis consectetur officia delectus nesciunt.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, aliquid maxime possimus rerum quis magnam culpa et repudiandae voluptates facilis sunt dignissimos odit labore fugit fuga officia ea eos eius! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque nemo ut totam delectus, sapiente in nesciunt temporibus eveniet voluptatem voluptas vel tenetur quae dolorum dignissimos quidem ipsa impedit, suscipit adipisci!
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, neque. Cum deserunt laboriosam nemo rerum mollitia nisi. Cupiditate, esse numquam saepe dolore enim mollitia rem perspiciatis corporis earum, ratione libero!
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, neque. Cum deserunt laboriosam nemo rerum mollitia nisi. Cupiditate, esse numquam saepe dolore enim mollitia rem perspiciatis corporis earum, ratione libero!

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, neque. Cum deserunt laboriosam nemo rerum mollitia nisi. Cupiditate, esse numquam saepe dolore enim mollitia rem perspiciatis corporis earum, ratione libero!